@page "/"

<h1>Welcome to PacificTours</h1>

<br />

<h3>We proudly offer <a href="Hotels">Hotels</a>, <a href="Tours">Tours</a> along with Package discounts</h3>

<br />

<h4>Package Deals</h4>
<p>Save money on your next booking by booking a hotel with your next tour to recieve a discount</p>
<h5>Terms:</h5>
<ul>
    <li>Dates of your hotel booking must be the same as those of your tour booking.</li>
    <li>You can only book 1 hotel and 1 tour at a time to recieve a package discount.</li>
</ul>
<br />
<h5>Package Discounts:</h5>
<ul>
    <li>Single Bed - 10% Discount!</li>
    <li>Double Bed - 20% Discount!!</li>
    <li>Family Suite - 40% Discount!!!</li>
</ul>